/*  *****************************************************************************
	* BASIC STYLES																*
    *****************************************************************************	
		1. GLOBAL SETING
		2. BACKGROUND
		3. ANIMATION
		4. TYPOGRAPHY
		5. HEADER
		6. CONTENT
		7. FOOTER
		8. LINKS & BUTTONS
		9. LIST & TABLE 
		10. FORMS & COMMENT
		11. MODULES
	    12. FIX
	    13. ADDITIONAL
 */



/* =============================================================================
   1. GLOBAL SETING
   ============================================================================= */

/* Link */
a {
    color: #0088CC;
    text-decoration: none;
}
a:hover {
    color: #005580;
    text-decoration: none !important;
	}

	/* Remove Firefox selection dot */
	a, a:focus, a:active, a:hover, object, embed { outline: none; }
	:-moz-any-link:focus { outline: none; }
	input::-moz-focus-inner { border: 0; }
	:focus { outline: 0; }
	
del { color: #ccc;}

.fade_hover { opacity: 1; }
.fade_hover:hover { opacity: 0.8; }
.fade_hover img   { background: #fff; } /* Firefox opacity jog fix */



/* Line */
hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 30px 0 20px; height: 0; }


/* Image */
a img { border: none; }
img { max-width: 100%; height:auto; -ms-interpolation-mode: bicubic; }


/* SELECTED TEXT */
::selection { background: #ff5e99; color: #FFFFFF; }
::-moz-selection { background: #ff5e99; color: #FFFFFF; }


/* Text Position */
.text-left   { text-align: left; }
.text-right  { text-align: right; }
.text-center { text-align: center; }
.hide        { display: none; }
.highlight   { background: #ff0; }
div { word-wrap:break-word;}


/* clearfloat */
.clear, .clearfloat {
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}


/* Grid Styles */
.panel  {
	margin-bottom: 6px;
	padding-top: 6px; 
	padding-bottom: 6px;
    background: #efefef ; /* Old */
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f0f0f0) ; /* Webkit */
    background-image:    -moz-linear-gradient(top, #f9f9f9, #f0f0f0) ; /* FF */
    background-image:     -ms-linear-gradient(top, #f9f9f9, #f0f0f0) ; /* IE10+ */
    background-image:      -o-linear-gradient(top, #f9f9f9, #f0f0f0) ; /* Opera */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0') !important; /* IE Old */
   
    border-radius: 4px 4px 4px 4px; /* For modern browsers */
    -webkit-border-radius: 4px; /* For Safari 4 */
    -moz-border-radius: 4px; /* For Firefox 3 */
    box-shadow: inset 0 0 1px #FFFFFF, inset 0 0 1px #FFFFFF, inset 0 1px 0px #FFFFFF, 0px 1px 4px #888;
}
.panel *,.gap * { padding:0 14px; }

	/* Grid Test Colors */
	.show-grid [class*="span"] {
	   background-color: #EEEEEE;
	   border-radius: 3px 3px 3px 3px;
	   line-height: 30px;
	   min-height: 30px;
	   text-align: center;
	}
	.show-grid {
	   margin-bottom: 20px;
	   margin-top: 10px;
	}





/* =============================================================================
   2. BACKGROUND
   ============================================================================= */

html { 
  background:; 
  background-image:url();
  background-attachment:;
  } 

body {  padding-top: 0px; }

@media (min-width: 1025px) {  /* must set to min 1025 to fix layout in iPad 1024 resolution */
body { 
    background-image:url();
    background-color:;
    background-repeat:;
    background-position:;
    background-attachment:;
    margin:;
    max-width:;
    padding:;
    
    box-shadow:;
    -moz-box-shadow:;
    -webkit-box-shadow:;
    }
}  

#wrap {
    padding-bottom: 60px;
}







/* =============================================================================
   3. ANIMATION
   ============================================================================= */
   
/* Normal Fade Animation */
.animation {
  -webkit-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
   	 -moz-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
      -ms-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
       -o-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
          transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);

		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}


/* Fast  Fade Animation */
.animation-fast, .brand, a, .fade_hover  { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
}








/* =============================================================================
   4. TYPOGRAPHY
   ============================================================================= */
   
body, p, h1, h2, h3, h4, h5, h6, .btn, .navbar, .brand {
  font-family: "Proxima", "Open Sans", "Helvetica Neue", "Helvetica", Arial, "Apple SD Gothic Neo", 나눔고딕, NanumGothic,'Malgun Gothic', Applegothic; sans-serif; }


/* Font Size */
body { font-size: 16px; font-size: 1rem; }
h1 { font-size: 38px; font-size: 2.38rem; font-weight: bold; }
h2 { font-size: 32px; font-size: 2.00rem; font-weight: bold; }
h3 { font-size: 18px; font-size: 1.13rem; font-weight: bold; }
h4 { font-size: 16px; font-size: 1.00rem; font-weight: bold; }
h5 { font-size: 14px; font-size: 0.88rem; font-weight: bold; }
h6 { font-size: 12px; font-size: 0.75rem; font-weight: bold; }
p  {
    font-size: 16px; font-size: 1rem;
    line-height:;
    margin-bottom: 20px; margin-bottom: 1.25rem;
    vertical-align: bottom;
    word-break: normal;
    word-wrap: break-word;
	text-align: ;
}


#wrap a, #wrap a:hover, #wrap a:active {
	text-decoration: none; 
}

blockquote p {
    color: #999999;
    font-size: 16px; font-size: 1rem;
    font-style: italic;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 0;
    padding: 20px 0;
}



 /* Additional Font Style */
 .korean p {
    color: #333333;
    font-size: 16px; font-size: 1rem;
    margin: 0 0 19px;
}
	.pen, .pen p { 
 	 font-family: '나눔손글씨 펜',NanumPen,NanumPenWeb,"Apple SD Gothic Neo",'Malgun Gothic'!important;
 	 }

 	.brush, .brush p { 
 	 font-family: '나눔손글씨 붓',NanumBrush,NanumBrushWeb,"Apple SD Gothic Neo",'Malgun Gothic'!important;
 	 }

 	.book, .book p { font-family: 나눔명조,NanumMyeongjo,NanumMyeongjoWeb,Georgia,"Apple SD Gothic Neo",'Malgun Gothic'!important; }




   
/* Font-Face */
@font-face {
font-family: 'Proxima';
    src: url(../font/proximanova-regular-webfont.eot);
    src: url('../font/proximanova-regular-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-regular-webfont.woff) format('woff'),
         url(../font/proximanova-regular-webfont.ttf) format('truetype'),
         url('../font/proximanova-regular-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-style: italic;
    src: url(../font/proximanova-regitalic-webfont.eot);
    src: url('../font/proximanova-regitalic-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-regitalic-webfont.woff) format('woff'),
         url(../font/proximanova-regitalic-webfont.ttf) format('truetype'),
         url('../font/proximanova-regitalic-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 300;
    src: url(../font/proximanova-light-webfont.eot);
    src: url('../font/proximanova-light-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-light-webfont.woff) format('woff'),
         url(../font/proximanova-light-webfont.ttf) format('truetype'),
         url('../font/proximanova-light-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    src: url(../font/proximanova-semibold-webfont.eot);
    src: url('../font/proximanova-semibold-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-semibold-webfont.woff) format('woff'),
         url(../font/proximanova-semibold-webfont.ttf) format('truetype'),
         url('../font/proximanova-semibold-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 600;
    font-style: italic;
    src: url(../font/proximanova-semibolditalic-webfont.eot);
    src: url('../font/proximanova-semibolditalic-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-semibolditalic-webfont.woff) format('woff'),
         url(../font/proximanova-semibolditalic-webfont.ttf) format('truetype'),
         url('../font/proximanova-semibolditalic-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: bold;
    src: url(../font/proximanova-bold-webfont.eot);
    src: url('../font/proximanova-bold-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-bold-webfont.woff) format('woff'),
         url(../font/proximanova-bold-webfont.ttf) format('truetype'),
         url('../font/proximanova-bold-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: bold;
    font-style: italic;
    src: url(../font/proximanova-boldit-webfont.eot);
    src: url('../font/proximanova-boldit-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-boldit-webfont.woff) format('woff'),
         url(../font/proximanova-boldit-webfont.ttf) format('truetype'),
         url('../font/proximanova-boldit-webfont.svg') format('svg')
}
@font-face {
    font-family: 'Proxima';
    font-weight: 900;
    src: url(../font/proximanova-extrabold-webfont.eot);
    src: url('../font/proximanova-extrabold-webfont.eot?iefix') format('eot'),
         url(../font/proximanova-extrabold-webfont.woff) format('woff'),
         url(../font/proximanova-extrabold-webfont.ttf) format('truetype'),
         url('../font/proximanova-extrabold-webfont.svg') format('svg')
}







/* =============================================================================
   5. HEADER
   ========================================================================== */
/* Logo */
.navbar .brand {
    color: #666666;
    font-size: 32px; font-size: 2rem;
    font-weight: 200;
    text-shadow: 0 1px 0 #FFFFFF;
}

/* Description */

/* Navigation */
.navbar-inner {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    min-height: 40px;
    padding: 20px 20px;
}
.navbar-fixed-top {
    opacity: 0.98;
    top: 0;
}
.navbar .nav > li > a {
    color: #777777;
    float: none;
    margin: 0 5px;
    padding: 8px 10px;
}

.navbar .nav {
    float: right;
}
.nav > li > a {
    display: block;
    font-size: 17px; font-size: 1.06rem;
}

/* Indicator */
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    background-color: #FFFFFF;
    border-bottom: 4px solid #F6A600;
    color: #555555;
    box-shadow: none;
    text-decoration: none;
}


/* ==========================================================================
   6. CONTENT
   ========================================================================== */
   
@media (min-width: 980px) {	
body { padding-top: 80px; } 
}  
/* * Enable this when fixed top menu is in use. */
        
#main-content { padding-bottom: 60px; }
section { padding: 14px 0; }

.byline { 
	font-size: 24px; font-size: 1.5rem; 
	color: #999; 
	font-weight: 100; 
	}
	
h2 {
    color: #000000;
}
#contact h2, #about h2 {
    font-size: 48px; font-size: 3rem;
    font-weight: 300;
}


#services h2 {
    font-size: 30px; font-size: 1.88rem;
    font-weight: 100;
}


#about .icon-ok:before {
    color: #89C01B;
}

.tick_box {
    margin: 0 0 20px;
    padding: 0;
}
.tick_box li {
	list-style: none;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
}

 
/* Hero Unit */  
.hero-unit {
    background-color: #37A3D6;
    border-radius: 0 0 0 0;
    box-shadow: 0 0 30px #1C6BBE inset;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 60px;
    text-shadow: 1px 2px 4px #666666;
}

	/* For Retina Display */
	@media all and (-webkit-min-device-pixel-ratio: 2) {
	  .hero-unit {
		}
	}
	


   
   
   
/* ==========================================================================
   7. FOOTER
   ========================================================================== */

footer {
    background: none repeat scroll 0 0 #EEEEEE;
    border-top: 1px solid #DDDDDD;
    color: #999999;
    padding: 14px 0 50px;
}
	
	@media (max-width: 767px) {	
		footer {
		    margin: -20px;
		    padding: 20px;
		} 
	}

footer a:hover {
	opacity: 0.6;
}


/* Footer menu */
#footer_menu {
    float: left;
    font-size: 18px; font-size: 1.125rem;
    width: 50%;
}
#footer_menu_box { 
	margin: 0 0 0 0; 
	}
#footer_menu_box li { 
	list-style: none; 
	display: inline-block; 
	}
#footer_menu_box li a { 
	color: #666;
	text-transform: uppercase; 
	margin-right: 10px; 
	}


/* Copyright */
#copyright {
	float: left;
	margin: 14px 0;
}

/* Production */
#maker {
    border-left: 1px solid #ccc;
    float: left;
    padding-left: 6px;
    width: 200px;
    margin: 14px 0 0 6px;
}

/* Scroll to Top Button */
#to_top { 
	width: 200px; 
	float:right; 
	text-align: right; 
	margin: 14px 0;
	}
#to_top a {
	color: #999999;
}

/* SNS Links */
#sns_icons { 
	width: 50%; 
	float: left; 
	}
#sns_icons_box { float: right; }
#sns_icons_box li {
     display: inline-block;
     line-height: 20px;
     list-style: none outside none;
     width: 32px; 
}
#sns_icons_box li a {
    color: #666;
    font-size: 32px; font-size: 2rem;
}



.icon-facebook-sign:hover {
     color: #355192;
}

.icon-twitter-sign:hover {
     color: #3BBDE8;
}

.icon-vimeo-sign:hover {
     color: #1AB7EA;
}

.icon-rss:hover {
     color: #FFAE5B;
}

   

/* =============================================================================
   8. LINKS & BUTTONS
   ============================================================================= */







/* =============================================================================
   9. LIST & TABLE
   ============================================================================= */





/* =============================================================================
   10. FORMS
   ============================================================================= */
#contact_form textarea {
     width: 90%;
}

#contact_form li {
     list-style: none outside none;
}







/* =============================================================================
   11. MODULES
   ============================================================================= */


/* TOOLTIP */
.tooltip {
  font-size: 15px; font-size: 0.94rem;
  line-height: 20px; line-height: 1.25rem;
}

.tooltip-inner { /* space inside tooltip */
  max-width: 200px;
  padding: 10px 14px;
  -webkit-border-radius:0px;
  -moz-border-radius: 	0px;
  border-radius: 	0px;
}



/* CAROUSEL */
.banner #myCarousel-auto .item, 
.banner #myCarousel .item {
	height: 560px;
	background: #000;
}
.carousel-caption.page_banner_textbox .link_view { float: right; margin-top: -55px; }


.banner #myCarousel-auto .page_banner_textbox, 
.banner #myCarousel .page_banner_textbox {
	background: rgba(47,51,55, 0.9);
    border-top: 1px solid #555555;
    color: #EEEEEE;
    display: inline-block;
    height: 132px;
    margin-top: -113px;
    padding: 10px 20px 30px;
    position: absolute;
    top: 500px;
}

@media (min-width: 1025px){ 
.banner #myCarousel-auto .page_banner_textbox, 
.banner #myCarousel .page_banner_textbox { background: rgba(47,51,55, 0.9); }
}


/* Carousel Fade */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .carousel-control { z-index: 3; }​
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}







/* =============================================================================
   12. FIX
   ============================================================================= */

/* Thumbnails box margin left fix */
.thumbnails { margin-left: 0; } 

/* Bootstrap Fix Lines on Button (Retina) */
.btn:hover { background-position: ; }

/* Responsive Google Map */
.map iframe { width: 100% !important; }



/* =============================================================================
   13. ADDITIONAL STYLE
   ============================================================================= */

.dropcap {
    color: #000000;
    float: left;
    font-size: 3em;
    font-weight: bold;
    line-height: 1em;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 0;
}


/* Mobile Only */
@media (max-device-height: 568px) {
    html, p, a, #popup_trigger, .modal, .brand strong {
	font-size: 140%;
	line-height: 140%;
	}
	body {
	background: none;	
	}
	#master-wrap {
	 padding-top: 20px;
	}
	.navbar .nav {
    margin: 0 10px 0 30px;
	}	
	.navbar-fixed-top, .navbar-fixed-bottom {
    position: absolute;
	}
	.modal {
    left: 20px;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 900px !important;
	}
	#contact_form label {
	font-size: 16px; font-size: 1rem;
	}
	.btn {
	font-size: 120%;
	padding: 14px;
	}
	.map iframe { height: 580px !important; }
	.navbar-form {
	display: none;	
	}
	
#footer_menu, #copyright, #maker, #sns_icons, #sns_icons_box, #to_top {
     float: none;
     margin: 14px 0px 0px !important;
     padding: 0px !important;
     text-align: center !important;
     width: 100% !important;
	}
	#sns_icons_box li {
     width: 60px; 
	}
	#sns_icons_box li a {
     font-size: 48px; font-size: 3rem;
	}

}





